.button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;

    &--red {
        background-color: red;
        color: aliceblue;
    }

    &--green {
        background-color: chartreuse;
        color: black;
    }

    &--blue {
        background-color: aqua;
        color: black;
    }

    &--white {
        background-color: white;
        color: black;
    }

    &:disabled {
        background-color: gray;
        color: black;
        cursor: not-allowed;
    }
}